{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 90,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}